.git
.github
.husky

node_modules
**/node_modules

dist
**/dist
.output
**/.output
.vinxi
**/.vinxi
.tanstack
**/.tanstack
coverage
**/coverage

playwright-report
**/playwright-report
test-results
**/test-results

.env
.env.*
!*.env.example

graphify-out
**/graphify-out

.DS_Store
.cta.json
docker-compose.yml
