NODE_ENV=development
PORT=3001
CORS_ORIGIN=http://localhost:3000
LOG_LEVEL=info
# OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318/v1/traces
# OTEL_SERVICE_VERSION=0.0.0

# Rate limiting
THROTTLE_TTL=60000
THROTTLE_LIMIT=60

# SENTRY_DSN=https://your-dsn@sentry.io/project-id

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
